# Библиотека Pandas
Когда и зачем использовать

Режим презентации jupyter nbconvert my_script.ipynb --to slides --post serve

https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67

In [4]:
# запуск презентации
!jupyter nbconvert Python_5_pandas_presentation_mode.ipynb --to slides --post serve

[NbConvertApp] Converting notebook Python_5_pandas_presentation_mode.ipynb to slides
[NbConvertApp] Writing 273317 bytes to Python_5_pandas_presentation_mode.slides.html
[NbConvertApp] Redirecting reveal.js requests to https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.5.0
Traceback (most recent call last):
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\Scripts\jupyter-nbconvert-script.py", line 10, in <module>
    sys.exit(main())
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\jupyter_core\application.py", line 266, in launch_instance
    return super(JupyterApp, cls).launch_instance(argv=argv, **kwargs)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\traitlets\config\application.py", line 658, in launch_instance
    app.start()
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\nbconvert\nbconvertapp.py", line 325, in start
    self.convert_notebooks()
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\nbconvert\nbconvertapp.py", line 493, in convert_notebooks
    self.convert_single_notebook(notebook_filename)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\nbconvert\nbconvertapp.py", line 466, in convert_single_notebook
    self.postprocess_single_notebook(write_results)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\nbconvert\nbconvertapp.py", line 438, in postprocess_single_notebook
    self.postprocessor(write_results)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\nbconvert\postprocessors\base.py", line 28, in __call__
    self.postprocess(input)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\nbconvert\postprocessors\serve.py", line 95, in postprocess
    http_server.listen(self.port, address=self.ip)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\tornado\tcpserver.py", line 144, in listen
    sockets = bind_sockets(port, address=address)
  File "C:\Users\viktoria.sinditskaya\AppData\Local\Continuum\anaconda3\lib\site-packages\tornado\netutil.py", line 163, in bind_sockets
    sock.bind(sockaddr)
OSError: [WinError 10013] An attempt was made to access a socket in a way forbidden by its access permissions

In [6]:
import pandas as pd

In [8]:
# https://grouplens.org/datasets/movielens/

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings.head()

FileNotFoundError: File b'ml-latest/ratings.csv' does not exist

In [9]:
ratings.info()

NameError: name 'ratings' is not defined

In [4]:
# сколько фильмов в коллекции
len(ratings.movieId.unique())

45115

In [5]:
%%time

# топ пользователей по количеству оценок
ratings.groupby('userId').count().sort_values('movieId', ascending=False).head()

CPU times: user 1.05 s, sys: 693 ms, total: 1.74 s
Wall time: 1.83 s

        movieId  rating  timestamp
userId
45811     18276   18276      18276
8659       9279    9279       9279
270123     7638    7638       7638
179792     7515    7515       7515
228291     7410    7410       7410

# Lifetime

In [6]:
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped.head()

       movieId         rating        timestamp
           min     max    min  max         min         max
userId
1          110  112552    0.5  5.0  1425941300  1425942699
2            5    1552    1.0  5.0   867039165   867041296
3          480    4474    2.0  4.0  1048076830  1048077048
4          223    5679    1.0  5.0  1042667845  1042674886
5            7    3255    1.0  5.0   949423787   949424522

In [7]:
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']
ratings_grouped.head()

       movieId         rating        timestamp              diff
           min     max    min  max         min         max
userId
1          110  112552    0.5  5.0  1425941300  1425942699  1399
2            5    1552    1.0  5.0   867039165   867041296  2131
3          480    4474    2.0  4.0  1048076830  1048077048   218
4          223    5679    1.0  5.0  1042667845  1042674886  7041
5            7    3255    1.0  5.0   949423787   949424522   735

In [8]:
ratings_grouped['diff'].mean() / 24 / 3600

126.22761148027357

In [9]:
%%time

ratings = pd.read_csv('ml-latest/ratings.csv')
ratings_grouped = ratings.groupby('userId').agg([min, max])
ratings_grouped['diff'] = ratings_grouped['timestamp']['max'] - ratings_grouped['timestamp']['min']

ratings_grouped['diff'].mean() / 24 / 3600

CPU times: user 14.3 s, sys: 2.41 s, total: 16.7 s
Wall time: 18 s

# JOIN как в SQL

In [10]:
movies = pd.read_csv('ml-latest/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [11]:
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,110,1.0,1425941529,Braveheart (1995),Action|Drama|War
1,1,147,4.5,1425942435,"Basketball Diaries, The (1995)",Drama
2,1,858,5.0,1425941523,"Godfather, The (1972)",Crime|Drama
3,1,1221,5.0,1425941546,"Godfather: Part II, The (1974)",Crime|Drama
4,1,1246,5.0,1425941556,Dead Poets Society (1989),Drama